/* Define the base colors for dark and light modes */

 :root {
    --font-secondary: 'pretty';
    /* Light Mode Colors */
    --color-background-light: #ffffff;
    --color-foreground-light: #000;
    --color-surface-light: #f5f5f5;
    --color-primary-light: #333333;
    --color-secondary-light: #555555;
    --color-accent-light: #0066cc;
    --color-border-light: #9d9d9d;
    --color-shadow-light: rgba(0, 0, 0, 0.1);
    /* Dark Mode Colors */
    --color-background-dark: #121212;
    --color-foreground-dark: #fff;
    --color-surface-dark: #1e1e1e;
    --color-primary-dark: #ffffff;
    --color-secondary-dark: #cccccc;
    --color-accent-dark: #3399ff;
    --color-border-dark: #333333;
    --color-shadow-dark: rgba(0, 0, 0, 0.5);
    /* Font Sizes and Spacing */
    --font-size-base: 16px;
    --font-size-large: 18px;
    --font-size-small: 14px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
}


/* Light mode styling */

.light-theme {
    --color-background: var(--color-background-light);
    --color-foreground: var(--color-foreground-light);
    --color-surface: var(--color-surface-light);
    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-accent: var(--color-accent-light);
    --color-border: var(--color-border-light);
    --color-shadow: var(--color-shadow-light);
}


/* Dark mode styling */

.dark-theme {
    --color-background: var(--color-background-dark);
    --color-foreground: var(--color-foreground-dark);
    --color-surface: var(--color-surface-dark);
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
    --color-border: var(--color-border-dark);
    --color-shadow: var(--color-shadow-dark);
}

button {
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Apply transition to all elements */
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Import SFCartoonistHand-Bold */

@font-face {
    font-family: 'SFCartoonistHand';
    src: url('fonts/SFCartoonistHand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* Import SFCartoonistHand-BoldItalic */

@font-face {
    font-family: 'SFCartoonistHand';
    src: url('fonts/SFCartoonistHand-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* Import SFCartoonistHand-Italic */

@font-face {
    font-family: 'SFCartoonistHand';
    src: url('fonts/SFCartoonistHand-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


/* Import SFCartoonistHand */

@font-face {
    font-family: 'SFCartoonistHand';
    src: url('fonts/SFCartoonistHand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Import SFCartoonistHandSC-Bold */

@font-face {
    font-family: 'SFCartoonistHandSC';
    src: url('fonts/SFCartoonistHandSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* Import SFCartoonistHandSC-BoldItal */

@font-face {
    font-family: 'SFCartoonistHandSC';
    src: url('fonts/SFCartoonistHandSC-BoldItal.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* Import SFCartoonistHandSC-Italic */

@font-face {
    font-family: 'SFCartoonistHandSC';
    src: url('fonts/SFCartoonistHandSC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


/* Import SFCartoonistHandSC */

@font-face {
    font-family: 'SFCartoonistHandSC';
    src: url('fonts/SFCartoonistHandSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Virgil';
    src: url('fonts/virgil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Joyline';
    src: url('fonts/joyline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretty';
    src: url('fonts/pretty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arnie';
    src: url('fonts/Arnie.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Pro";
    src: url(https://assets.gumroad.com/packs/static/19db990205089207b039.woff2);
}

@font-face {
    font-family: "Mabry Pro";
    src: url(https://assets.gumroad.com/packs/static/b155e959ca3c72194673.woff2);
    font-style: italic;
}

@font-face {
    font-family: "Mabry Pro";
    src: url(https://assets.gumroad.com/packs/static/f301b7100da17db3c2c0.woff2);
    font-weight: 700;
}

@font-face {
    font-family: "Mabry Pro";
    src: url(https://assets.gumroad.com/packs/static/aaec7850d09c0889a8b5.woff2);
    font-weight: 700;
    font-style: italic;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Mabry Pro;
    background-color: var(--color-background);
    height: 100%;
    user-select: none;
    /* Standard */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    font-size: 18px;
}

button.primary {
    font-size: 20px;
    background-color: var(--color-background);
    color: var(--color-background);
    border: 1px solid var(--color-border);
    padding: 8px 12px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    color: var(--color-foreground);
    align-items: center;
    justify-content: center;
    font-family: SFCartoonistHand;
    font-weight: 600;
    /* box-shadow: 0 -2px 5px 0px var(--color-shadow); */
}

button.primary:hover {
    color: var(--color-background);
    background-color: var(--color-foreground);
}

nav {
    padding: 16px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--color-background);
    gap: 16px;
    font-size: 20px;
    z-index: 999;
    user-select: none;
    color: var(--color-foreground);
}

nav span {
    display: flex;
    flex: 1;
    font-weight: 500;
}
span a {
   
    font-weight: 500;
   color: var(--color-foreground);
   text-decoration: none;
}
svg.line {
    height: 24px;
    width: 24px;
    fill: none;
    stroke: var(--color-foreground);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.25;
    cursor: pointer;
}

nav svg.fill {
    height: 24px;
    width: 24px;
    cursor: pointer;
    color: var(--color-foreground);
}

nav svg rect {
    fill: var(--color-foreground);
}

main {
    margin-top: 56px;
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-secondary);
    color: var(--color-foreground);
}

main.center {
    align-items: center;
    justify-content: center;
}

.fa-solid {
    margin-right: 4px
}

.drawer-container {
    position: relative;
}

.drawer {
    position: fixed;
    top: 56px;
    right: -262px;
    width: 250px;
    height: 100%;
    background: var(--color-background);
    border-left: 1px solid var(--color-border);
    transition: right 0.3s;
    z-index: 1;
}

.drawer-inner {
    padding: 0px;
    overflow: hidden scroll;
    height: calc(100% - 56px);
    padding-bottom: 16px;
}

.drawer-inner::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

.drawer-inner::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-background);
}

.drawer-inner::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
}

.drawer-inner ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.drawer-inner ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.drawer-inner ul span {
    border-bottom: 1px solid var(--color-border);
    color: var(--color-foreground);
    display: flex;
    padding: 8px;
    justify-content: center;
}

.drawer-inner li a {
    padding: 14px 16px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    text-decoration: none;
    color: var(--color-foreground);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
    pointer-events: none;
    z-index: 0;
}

.overlay.active {
    background-color: var(--color-shadow);
    pointer-events: auto;
}

.container {
    display: flex;
    width: 60vw;
    flex-direction: column;
    font-size: 30px;
}

.container .tile {
    display: flex;
    border: 1px solid var(--color-border);
}

.container .tile svg {
    height: 100%;
    margin-right: 12px;
}

#search {
    background-color: var(--color-background);
    color: var(--color-foreground);
    padding: 12px;
    width: 100%;
    font-family: var(--font-secondary);
    outline: none;
    font-size: 20px;
    border: none;
}

h1 {
    color: var(--color-foreground);
}

#toggle {}

div.icons {
    display: flex;
    padding: 12px;
    width: 100%;
    border-bottom: var(--color-border);
}


/* For mobile devices (up to 768px) */

@media (max-width: 768px) {
    /* Styles for mobile */
    .container {
        width: 80vw;
    }
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    font-family: Mabry Pro;
}

.breadcrumb li {
    margin-right: 8px;
    color: var(--color-foreground);
}

.breadcrumb li::after {
    content: ">";
    margin-left: 8px;
    color: var(--color-foreground);
}

.breadcrumb li:last-child::after {
    content: "";
    /* Remove arrow from the last item */
    margin-left: 0;
}

.breadcrumb li.active {
    font-weight: bold;
    /* Highlight current page */
    pointer-events: none;
    /* Make it non-clickable */
}

.breadcrumb a {
    color: var(--color-primary);
    text-decoration: none;
}

.formula {
    font-size: 1.5em;
    color: var(--color-foreground);
    font-family: var(--font-secondary);
    /* Apply Virgil font */
    margin: 15px 0;
}


/* Custom CSS for Mathematical Symbols */

.integral::before {
    content: "∫";
    font-size: 1.3em;
    margin-right: 5px;
}

.power {
    vertical-align: super;
    font-size: 0.7em;
}

.fraction {
    display: inline-block;
    vertical-align: middle;
}

.fraction>.numerator {
    display: block;
    text-align: center;
}

.fraction>.denominator {
    display: block;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: -3px;
}
.katex, .katex .mathnormal, .katex .mathrm, .katex .custom-Regular, .katex .amsrm {
    font-family: var(--font-secondary);
}